body {
    background-color:#eee;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
}

.App {
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;

}

.heading {
    text-align: center;
}

.todo {
    border: 1px solid #eee;
    width: 50%;
    color: green;
    padding: 10px;
}

.todocompleted {
    text-decoration: line-through;
    border: 1px solid #eee;
    width: 50%;
    padding: 10px;
    color: red;
}